<div class="content">
  <h4 class="">Create new game</h4>

  <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
    <div class="form-group">
      <label for="minPlayers">Minimal player amount:</label>
      <input class="form-control" type="number" value id="minPlayers" min="1" max="32" required [(ngModel)]="model.minPlayers" name="minPlayers">
    </div>

    <!--<hr>-->

    <div class="form-group">
      <label for="maxPlayers">Maximal player amount:</label>
      <input class="form-control" type="number" id="maxPlayers" min="1" max="32" required [(ngModel)]="model.maxPlayers" name="maxPlayers">
    </div>

    <!--<hr>-->

    <div class="form-group">
      <label for="template">Select template:</label>
      <select (change)="onChange()" class="form-control" id="template" required [(ngModel)]="currentTemplateName" name="templateName">
        <option *ngFor="let game of gameTemplateList" [value]="game.id">{{game.id}}</option>
      </select>
    </div>

    <!--<button type="button" class="btn btn-default" (click)="resetGameCreationForm();" data-dismiss="modal">Close</button>-->
    <button type="submit" class="btn btn-success" (click)="createGame(); resetGameCreationForm();" data-dismiss="modal" [disabled]="!gameForm.form.valid">Create</button>
  </form>
  <button (click)="logTemplate();"></button>
  <app-game-preview [currentTemplate]="currentTemplate"></app-game-preview>
</div>