<ul class="games">
  <div>
    <label>number of games: </label>
    {{numberOfGames}}
  </div>
  <li *ngFor="let game of gameList">
    <div>
      <label>id: </label>
      {{game.id}}
    </div>
    <div>
      <label>state: </label>
      {{game.state}}
    </div>
    <div>
      <label>createdBy: </label>
      {{game.createdBy.name}}
    </div>
    <div>
      <label>template: </label>
      {{game.gameTemplate.id}}
    </div>
    <div>
      <label>maxPlayers: </label>
      {{game.maxPlayers}}
    </div>
  </li>
</ul>