<div class="card">
  <div class="card-block">
    <label>number of games: </label>
    <p>{{numberOfGames}}</p>
  </div>
</div>
<div class="pre-scrollable">
  <ul class="games list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let game of gameList">
      <div class="content">
        <div class="row">
          <label class="col-md-4">id: </label>
          <p class="col-md-8">{{game.id}}</p>
        </div>
        <div class="row">
          <label class="col-md-4">state: </label>
          <p class="col-md-8">{{game.state}}</p>
        </div>
        <div class="row">
          <label class="col-md-4">createdBy: </label>
          <p class="col-md-8">{{game.createdBy.name}}</p>
        </div>
        <div class="row">
          <label class="col-md-4">template: </label>
          <p class="col-md-8">{{game.gameTemplate.id}}</p>
        </div>
        <div class="row">
          <label class="col-md-4">maxPlayers: </label>
          <p class="col-md-8">{{game.maxPlayers}}</p>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" [ngClass]="{'disabled': ((game.players.length >= game.maxPlayers) || (game.state !== nameOfGameStateOpen)) }" (click)="joinGame(game.id)">
            Join game
          </button>
          <button class="btn btn-success" *ngIf="game.createdBy._id === currentUser" [ngClass]="{'disabled': (game.state !== nameOfGameStateOpen) }" (click)="startGame(game.id)">
            Start game
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
